.inputbox {
  width:calc(100% - 8px);
  height:80px;
  text-align:left;
  white-space:nowrap;
  margin:0;
  border:1px solid black;
  resize:both;
  font-family:monospace;
  font-size:13.5px;
  padding:4px;
}
.outputbox {
  width:calc(100% - 8px);
  height:400px;
  text-align:left;
  white-space:pre;
  margin:0;
  border:1px solid black;
  resize:both;
  font-family:monospace;
  font-size:13.5px;
  padding:4px;
}