.inputbox {
  width:calc(100% - 8px);
  height:150px;
  text-align:left;
  white-space:nowrap;
  margin:0;
  border:1px solid black;
  resize:both;
  font-family:monospace;
  font-size:13.5px;
  padding:4px;
}
.outputbox {
  margin:0;
  padding:4px;
}
div.proofcontainer.latex {
  margin:16px 4px 0px 4px;
}
div.proofcontainer.text {
  margin:16px 4px 0px 4px;
  font-family:monospace;
  font-size:12px;
}