body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.inputbox {
  width:calc(100% - 8px);
  height:80px;
  text-align:left;
  white-space:pre;
  margin:0;
  border:1px solid black;
  resize:both;
  font-family:'Courier New', Courier, monospace;
  font-size:13.5px;
  padding:4px;
}
.outputbox {
  width:calc(100% - 8px);
  height:400px;
  text-align:left;
  white-space:pre;
  margin:0;
  border:1px solid black;
  resize:both;
  font-family:'Courier New', Courier, monospace;
  font-size:13.5px;
  padding:4px;
}
#options {
  font-size:14px;
}